@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

.instru-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instru-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 380;
  font-style: italic;
  font-size: 2.5rem;
}

.custom-border {
  border: 0.3px solid rgb(36, 35, 35);
}

.head{
  font-size: 4.5rem;
  font-weight: 600;
}
.head-span{
    font-size: 4.5rem;
    font-weight: 500;
}
.fa-icon{
  font-size: 1.5rem;
}
.about-head{
  font-size: 13px;
  width: ;
}
.about-text{
  font-size: 1.7rem;
}
.benefit-head{
  font-size: 3rem;
}
.fa-clock{
  font-size: 8.5rem;
}
.div-head{
  font-size: 1.5rem;
  font-weight: 500;
}
.div-p{
  font-size: 1rem;
}
.features-icon{
  font-size: 2.5rem;
}
.client-head{
  font-size: 1rem;
  font-weight: 500;
}
.client-text{
  font-size: 1rem;
  font-weight: lih;
}
.amount-head{
  font-weight: 500;
  font-size: 1rem;
}
.amount{
  font-size: 2.5rem;
  font-weight: 500;
}